h2{
    position: fixed;
    bottom: 0px;
    right: 0px;
}


.hide-btn{
    display: none;
}

.password-input{
    border: 1px solid black;
    border-radius: 4px;
    width: fit-content;
}

.less-btn{
    display: none;
}