*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

input[type="text"]{
    width: 2em;
    height: 2em;
    text-align: center;
}

p{
    width: 2em;
    height: 2em;
    text-align: center;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    gap: 2em;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

button{
    padding: 4px;
    width: 80px;
}