*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: red;
    width: 400px;
    height: 400px;
    display: grid;

    /* grid-template-columns: 50px 50px 50px 150px 50px 50px ; */
    /* grid-template-columns: 3fr 2fr 1fr 1fr; */
    /* grid-template-columns: 1fr 1fr 1fr 2fr 2fr 1fr 1fr 1fr ; */
    grid-template-columns: repeat(8, 1fr) ;

    grid-template-rows: 1fr 3fr 2fr 1fr 5fr;
    /* grid-template-rows: repeat(8, 1fr); */
}

.child{
    background-color: orange;
    /* width: 50px; */
    /* height: 50px; */
    text-align: center;

}

.child-4{
    grid-column-start: 5;
    grid-column-end: 7;
    /* grid-row-start: 3; */
    /* grid-row-end: 5; */
}