*{
    margin: 0;
    padding: 0;
}

.container{
    width: 200px;
    height: 200px;
    background-color: aqua;

    display: flex;

    align-items: center;
    justify-content: center;
}

.child{
    width: 40px;
    height: 40px;
    background-color: rgb(30, 167, 37);
}

body{
    display: flex;
    flex-direction: column;

    align-items: center;
    row-gap: 2em;
}