@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.output {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}

.product-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid #dadada;
    padding: 1em;
    border-radius: 1em;
    gap: 1em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

img {
    width: 300px;
    height: 150px;
    object-fit: contain;
    border-bottom: 1px solid #dadada;
    padding-bottom: 1em;
}

button {
    width: 100%;
    cursor: pointer;
    margin-top: auto;
    background-color: rgb(20, 82, 214);
    border-radius: 1em;
    border: 0;
    padding: 1em;
    color: white;
}

.dark{
    background-color: black;
    color: white;
}

