*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.container{
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.child{
    width: 100px;
    height: 100px;
    background-color: white;
}

.child1{
    width: 100px;
    height: 100px;
    background-color: black;
}