.result{
    background-color: red;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

p{
    margin: 0;
}

.singleTodo{
    background-color: orange;
    padding: 0.3em;
}