form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
}

form button{
    width: 100%;
}

form a{
    width: 100%;
    font-size: 0.8em;
    text-align: left;
}