*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
}

input, button{
    width: 300px;
    padding: 4px;
}

p{
    background-color: rgb(130, 191, 248);
    width: 300px;
    border-radius: 4px;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    box-shadow: 0 0 24px rgb(155, 155, 155);
}