@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/* @font-face {
    font-family: 'Bangers';
    src: url('../public/fonts/Bangers-Regular.ttf') format('ttf'),
} */



$fontFamily: 'Bangers', Courier, monospace;
$orangeColor: rgb(255, 255, 255);

*{
  font-family: sans-serif;
  background-color: bisque;
  /* color: brown; */
}

img{
  width: 100px;
  height: 100px;
}

* {
    background-color: $orangeColor;
    font-family: $fontFamily;
}

.icon{
    color: white;
}
