/* position */

/* static */
/* fixed */
/* sticky */
/* relative */
/* absolute */

/* @import url('absolute-relative/style.css'); */

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header{
    background-color: red;
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: -1;
}

img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.nav{
    background-color: orange;
    padding: 0.5em 1em;
    list-style: none;
    display: flex;
    gap: 1em;
}

a{
    color: white;
    text-decoration: none;
    padding: 4px 8px;
}

a:hover{
    background-color: rgb(209, 137, 4);
    color: black;
}

.whatsapp{
    width: 100px;
    height: 100px;
    background-color: green;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

h1{
    z-index: 1;
}
