*{
    font-family: sans-serif;
}

.container{
    width: 800px;
    height: 350px;
    background-color: red;
    display: flex; // ye aapky saary childs ko aik row mian le aata hai

    flex-direction: column;
    flex-direction: column-reverse;
    flex-direction: row;
    flex-direction: row-reverse;

    /* justify content row ky andr kaam krta hai */
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-evenly;
    justify-content: space-around;

    /* align items aapky childs ko column wise kaam krta hai */
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;

}

.childs{
    width: 90px;
    height: 70px;
    background-color: yellow;
}

.container-col{
    width: 800px;
    height: 350px;
    background-color: red;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    
    align-items: flex-start;
    align-items: end;
    align-items: center;

    justify-content: center;
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly;

}

.childs-col{
    width: 90px;
    height: 70px;
    background-color: yellow;
}


.container-main{
    width: 800px;
    height: 800px;
    background-color: red;
    margin-top: 2em;
    display: flex;

    align-content: flex-start;
    
    flex-wrap: wrap-reverse;
    flex-wrap: wrap;
    row-gap: 3em;
    column-gap: 3em;

}

.childs-main{
    width: 90px;
    height: 70px;
    background-color: yellow;
}

.child-5{
    order: -1;
}

.child16{
    order: -10;
}

#newchild{
    order: -18;
}

#computer{
    order: -8;
}
