*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header{
    background-color: red;
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.nav{
    background-color: orange;
    padding: 0.5em 1em;
    list-style: none;
    display: flex;
    gap: 1em;
}

a{
    color: white;
    text-decoration: none;
    padding: 4px 8px;
}

a:hover{
    background-color: rgb(209, 137, 4);
    color: black;
}