.parent{
    padding: 1em;
    background-color: aqua;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1em;
    overflow: auto;
    position: relative;
}

.child{
    background-color: red;
    width: 100px;
    height: 100px;
}

.purple{
    background-color: rgb(75, 47, 175);
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid black;
}

.imageCont{
    position: relative;
    width: 100px; 
    height: 100px; 
    background-color: red;
}

button{
    position: absolute;
    bottom: 0;
    right: 0;
}